<mat-sidenav-container fullscreen>
  <mat-sidenav #appsidenav mode="over" fxFlexFill fxLayout="column" fxLayoutAlign="start strech">
    <app-toolbar></app-toolbar>
    <app-menu ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start strech">
      <app-toolbar></app-toolbar>
      <div fxFlex fxLayout="column" fxLayoutAlign="center center">    <!-- To <router-outlet></router-outlet> -->
        <h1>MAIN</h1>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
